---
layout: archive
title: "My Research"
permalink: /research/
author_profile: true
---

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->



<h2>My Research </h2>

<p style="text-align: justify; margin-bottom: 1.5em;">
I have a clear and defined research agenda within economics of education, particularly focused but not limited to the market for early childhood education and care. My research ambition revolves around producing policy informing research of contemporaneous relevance. All of my published and unpublished work is intricately tied with changing socioeconomic and demographic landscape, and provides information on significant policy issues. I seek to address a range of significant and contemporary questions through my work:</p>

<ol>
  <li>
    <strong>Impact of Policy Interventions:</strong>
    <p>I investigate how various policy interventions, such as early childhood education regulations and full-day kindergarten programs, affect educational outcomes and family well-being. This includes assessing how changes in policy influence the availability, quality, and accessibility of child care services, and the broader implications for families and the workforce.</p>
  </li>
  
  <li>
    <strong>Labor Market Dynamics in Child Care:</strong>
    <p>My research explores the effects of regulatory changes and immigration policies on the child care labor market. I examine how these factors impact the demand for child care workers, workforce composition, and the economic stability of the child care sector.</p>
  </li>
  
  <li>
    <strong>Socio-Demographic Shifts:</strong>
    <p>I analyze how demographic changes, such as immigration and socio-economic shifts, influence educational environments and labor markets. This includes investigating phenomena like native flight from public schools and the implications for diversity and inclusion within educational settings.</p>
  </li>
  
  <li>
    <strong>Parental Time-Use and Economic Stability:</strong>
    <p>I aim to understand how variations in low-skilled immigration affect parental time allocation towards child care. This research seeks to provide insights into how changes in immigration patterns impact family dynamics and child care provision.</p>
  </li>
  
  <li>
    <strong>Long-Term Educational Outcomes:</strong>
    <p>I am interested in evaluating the long-term academic outcomes of educational interventions, such as full-day kindergarten programs, to determine their effectiveness in enhancing student achievement and promoting educational equity.</p>
  </li>
</ol>

<p>Overall, my research seeks to produce policy-relevant insights that address contemporary socio-economic challenges, using rigorous quantitative methods to inform evidence-based policy development. Through this work, I aim to contribute to the creation of equitable and sustainable solutions for children and families.</p>

