---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->


<h2>Teaching Experience</h2>

<ul>
  <li>Instructor, PAF 301, Applied Statistics (Undergraduate course) – School of Public Affairs, Arizona State University, Spring 2022</li>
  <li>Instructor, PAF 201, Economics and Public Policy (Undergraduate course) – School of Public Affairs, Arizona State University, Fall 2021</li>
  <li>Graduate Teaching Assistant, PAF 573, Applied Econometrics – School of Public Affairs, Arizona State University, Spring 2020</li>
  <li>Instructor, EB 305, Entrepreneurship and Small Business Management (Undergraduate course) – University of Engineering & Technology, Lahore, Pakistan, Spring 2015</li>
</ul>

<h2>Teaching Philosophy</h2>

<p style="text-align: justify; margin-bottom: 1.5em;">
I believe that teaching is one of the most liberating and rewarding endeavors in academia.
Teaching and transferring knowledge are central to an academic career, and I see teaching as a direct
way to contribute to society. I strive to incorporate this approach into my teaching philosophy.
</p>

<p style="text-align: justify; margin-bottom: 1.5em;"></p>
My approach to teaching involves a three-pronged strategy. First, a good teacher should motivate and inspire a thirst for learning in students. I aim to create an engaging classroom experience
that generates intrigue, curiosity, and a desire to learn. While it can be challenging to ignite that
spark of motivation in students, I believe it is our duty to strive for this goal. I achieve this by
keeping my courses as interactive as possible and incorporating case and scenario-based learning.
</p>

<p style="text-align: justify; margin-bottom: 1.5em;"></p>
Second, successful teachers link classroom experiences with real-life relevance. I ensure that
students are taught industry and market-relevant content, enabling them to apply their learning in
their professional lives. This includes imparting transferable skills that can be applied in various
job dimensions and providing a solid foundation for further education if students choose to pursue
it.
</p>

<p style="text-align: justify; margin-bottom: 1.5em;"></p>
Finally, teachers must anchor their curricula to the current state of the field and the standards
of similar courses worldwide. I take care to maximize the utility of time spent by students in my
class by aligning my syllabus with contemporary standards and ensuring its relevance.
</p>

<p style="text-align: justify; margin-bottom: 1.5em;"></p>
To summarize, my teaching philosophy is rooted in the belief that education is a transformative
force that extends beyond the classroom. I aim to inspire students by igniting a genuine passion for
learning, help them connect theoretical concepts to practical applications, all while maintaining a
curriculum aligned with contemporary standards. Ultimately, I do my best to provide students with
the knowledge, tools, and skills they need to succeed in their careers and contribute meaningfully
to society. I strive to keep my classroom inclusive and engaging, providing a learning environment
which helps every student reach their full potential. By rigorously following these principles, I hope
to make a lasting impact on students’ academic and professional careers, nurturing a successful
generation of practitioners and leaders in public policy and administration.
</p>

<p style="text-align: justify; margin-bottom: 1.5em;"></p>
My teaching interests include public administration, public policy analysis, education policy,
economics, statistics, microeconomic theory, econometrics, and quantitative as well as qualitative
research design. Additionally, I am enthusiastic about teaching courses across the public policy
and public administration domain.
</p>

<p style="text-align: justify; margin-bottom: 1.5em;"></p>
Teaching is a learned skill, and I am in a constant state of learning to develop effective teaching
and pedagogical skills. I have a strong commitment to teaching with academic rigor and promoting
students’ learning in both general disciplines and my specialist area. My teaching experience in-
cludes successfully instructing undergraduate courses, with positive feedback from both peers and
students. In Fall 2021, I taught an undergraduate class (PAF201 - Economics for Public Policy
Analysis), while in Spring 2022, I taught applied statistics (with R-Studio) to undergraduate students at Arizona State University. Previously, I taught an undergraduate course (Entrepreneurship
and Small Business Management) at UET Lahore in Spring 2015 and served as a teaching assistant
for a graduate-level micro-econometrics course (PAF573) at Arizona State University.
I believe that teaching and learning benefit significantly from incorporating technology and
innovation within the classroom and overall learning environment. I am proficient in using technology
and have expertise with subject-specific software (e.g., Stata, R) and online learning management
systems such as Canvas, Blackboard, and Moodle. I employ blended teaching models, such as
flipped classrooms, where learning materials are introduced before class, allowing classroom time
to be used for a mix of traditional lectures, interactive exercises, and online lab modules. Additionally,
I actively pursue professional development to stay current with digital tools and innovative teaching
methods, ensuring a dynamic and engaging learning environment.
</p>

<p style="text-align: justify; margin-bottom: 1.5em;"></p>
I regularly seek feedback and evaluate my teaching practices to maintain high standards of
learning and incorporate new research and innovations. I will always strive to conduct my teaching
in accordance with university policy, including assessment, course coordination, and course materials.
I am fully capable and enthusiastic about designing curricula, supervising students, and taking
on departmental responsibilities.
</p>



